{% extends 'base2.html' %}
{% load static %}
{% block content %} 

<main>

    <div class="row">
        <div class="col-12">
            <h2 class="contact-title">Get in Touch</h2>
        </div>
        <div class="col-lg-2 ">
           
        </div>
        <div class="col-lg-8">
            <main id="main">

                <!-- ======= About Section ======-->
                <section id="about" class="about">
                  <div class="container">
                    <br><br>
                     <h2 style="text-align: center;">{{msg}}</h2>
                  </div>
                </section><!-- End About Section -->
            
              </main><!-- End #main -->
        </div>
        <div class="col-lg-2 ">
           
        </div>
    </div>
</div>
</section>
</main>

{% endblock content %}
