{% extends 'base3.html' %}
{% load static %}
{% block content %} 

<main id="main">
    <div class="container">
        
    
    <!-- ======= About Section ======-->
    <section id="about" class="about">
        <h2>User Experience</h2>
        <br>

        <form method="POST">
            {% csrf_token %}
            <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Experience</th>
                    <th>Education</th>
                    <th>Job Role</th>
                    <th>User name</th>
                    <th>Predict Salary</th>
                     
                  </tr>
                </thead>
                <tbody>
                {% for v in shelf %}
                  <tr>
                    <td>{{v.id}}</td>
                    <td>{{v.experience}}</td>
                    <td>{{v.education}}</td>
                    <td>{{v.job_role}}</td>
                    <td>{{v.username_id}}</td>
                     <td><a style="color:blue" href="../UserDetailsHr/{{v.username}}">Predict Salary</a></td>
                     
                    
                  </tr>
                {% endfor %}
                 </tbody>
              </table>
            

            </form></main>

{% endblock content %}
